<div>
    <div class="filterDiv"></div>
    <div class="position-relative">
        <tink-interactive-table tink-headers="headers" tink-data="resultaten" tink-actions="actions" tink-loading="loading" tink-empty-message="Geen resultaten gevonden." tink-checked="boxChecked($data,$checked)">
            <table tink-sort-table="tinkData" tink-callback="$parent.updateResultaten()" tink-asc="$parent.pagingInfo.omgekeerd" tink-init-sort-order="asc" tink-sort-field="$parent.pagingInfo.sortering">
                <thead>
                    <tr>
                        <th tink-sort-header="{{header.field}}" tink-sort-active="{{header.sort}}" ng-repeat="header in tinkHeaders">{{header.alias}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="clickableTableRow" ng-class="{'row-selected': item.checked}" ng-repeat="item in $parent.resultaten" ng-click="$parent.$parent.rowClick(item)"></tr>
                </tbody>
            </table>
            <tink-pagination ng-show="$parent.totaalAantal > 10" tink-current-page="$parent.pagingInfo.huidigePagina" tink-change="$parent.updateResultaten()" tink-total-items="$parent.totaalAantal" tink-items-per-page="$parent.pagingInfo.aantalPerPagina" tink-items-per-page-values="[10,20,30]"></tink-pagination>
        </tink-interactive-table>
    </div>
</div>